:root {
  --blanco: #fff;
  --blanco-opacity: rgba(255, 255, 255, 0.9);
  --bg-gris: rgb(255, 246, 246);
  --negro: #000;
  --negro-opacity: rgba(0, 0, 0, 0.7);
  --azul-claro: #0077bd;
}

html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Raleway", sans-serif;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 1000;

  background-color: var(--blanco-opacity);
  transition: height 0.6s, background-color 0.6s;
  box-shadow: 1px 2px 5px 0px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 1px 2px 5px 0px rgb(0 0 0 / 40%);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.header--active {
  height: 70px;
  background-color: var(--blanco);
  transition: height 0.6s, background-color 0.6s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.logo__img {
  height: 60px;
}

.nav__ul {
  display: flex;
  margin: 0;
}

.nav__li {
  list-style: none;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  padding: 10px 20px;

  color: var(--negro-opacity);
}

.nav--hover-active {
  color: var(--blanco);
}

.nav__ul,
.nav__li,
.nav__link {
  height: 100%;
  display: flex;
  align-items: center;
}

.burger div {
  width: 20px;
  height: 3px;
  margin: 4px 0;
  background-color: #000;
  transition: transform 0.6s, opacity 0.6s;
}

.burger {
  padding: 10px;
  transition: transform 0.6s ease-out;
}

.change .line1 {
  -webkit-transform: rotate(-45deg) translate(0px, 6px);
  transform: rotate(-45deg) translate(0px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  -webkit-transform: rotate(45deg) translate(-4px, -10px);
  transform: rotate(45deg) translate(-4px, -10px);
}

/* Sections */
.section {
  height: 100vh;
}

.bg-gris {
  background-color: var(--bg-gris);
}
/* Main */
.main {
  width: 100%;
  height: 100vh;
  background-image: url(https://scontent.feze11-1.fna.fbcdn.net/v/t1.6435-9/121445556_1722111367964190_1266216404247394068_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=easKNLnSd5MAX_u14G_&_nc_ht=scontent.feze11-1.fna&oh=d6aee0be48be37fb5eb8c93c0a9072b5&oe=61858D99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 25%;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: -1;
}

.main__p {
  margin: 30px;
  padding: 0;
  font-size: calc(2em + 1.5vw);
  width: 40%;
  min-width: 200px;
  max-width: 300px;
  border-bottom: 3px solid var(--azul-claro);

  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: var(--blanco);
  text-align: center;
}

/* About */
.about {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about__container-img,
.about__container-text {
  width: 50%;
  height: 100%;
}

.about__container-text {
  padding: 85px 40px 60px;
}

.about__container-img {
  background-image: url(https://www.axiomaeventos.com/AxiomaEventos/Banners/Axioma-Eventos-Vista-Jardines-Espacios-Verdes.jpg);
  background-size: cover;
  background-position: 15% center;
}

.h1,
.h2 {
  font-family: "Maven Pro", sans-serif;
  text-align: center;
  border-top: 1px solid var(--azul-claro);
  border-bottom: 1px solid var(--azul-claro);
  color: var(--azul-claro);
  margin: 0;
  padding: 20px 0;
}

.about__p {
  margin-bottom: 0;
  font-size: calc(13.5px + 0.2vw);
}

.about__lista {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}

.about__ul {
  margin-left: 30px;
  list-style: none;
  font-size: calc(13.5px + 0.2vw);
  display: grid;
}

.about__ul .about__li::before {
  content: "\2022";
  color: var(--azul-claro);
  display: inline-block;
  padding-right: 10px;
  font-size: 50px;
  line-height: 25px;
  vertical-align: -11px;
  width: 15px;
}

/* Servicios */
.servicios {
  position: relative;
  width: 100%;
  /* padding-top: 85px; */
  text-align: center;
}

.h2 {
  display: inline-block;
  width: 90%;
}

.h3 {
  display: inline-block;

  background-color: var(--blanco);
  color: var(--azul-claro);
}

.servicios__container {
  /* margin-top: 80px; */
  width: 100%;
  display: flex;
}

.servicios__box1,
.servicios__box2 {
  width: 100%;
  height: 100%;
}

.servicios__box1,
.servicios__box2 {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.servicios__box1 {
  background-image: url(https://scontent.feze11-1.fna.fbcdn.net/v/t1.6435-9/239300772_1976173862557938_5856237966783370551_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=xsq7i0LkrzwAX8D5G0F&_nc_ht=scontent.feze11-1.fna&oh=2a51890897daddfe05a4d63abb215de7&oe=618511DE);
}

.servicios__box2 {
  background-image: url(https://scontent.feze11-1.fna.fbcdn.net/v/t1.6435-9/79258474_1437528363089160_6870326164531970048_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=lZTCWivDxJcAX9BFGA8&_nc_ht=scontent.feze11-1.fna&oh=b20c457f2cc0f206fa0dff5543847f26&oe=6185E462);
}

.servicios__ul1,
.servicios__ul2 {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 10px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  font-size: 14px;
  font-weight: 500;
  background-color: var(--negro-opacity);
  color: var(--blanco);
  list-style: none;
}

.servicios__box1 ul li,
.servicios__box2 ul li {
  padding: 5px;
  text-align: left;
}

.servicios__box1 ul li::before,
.servicios__box2 ul li::before {
  content: "\2022"; /* Insertamos el marcador */
  padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
  color: var(--azul-claro); /* Coloreamos la viñeta */
}

/*Catering*/
.catering {
  width: 100%;
  padding-top: 85px;
  text-align: center;
}

/* Mobile */
@media screen and (max-width: 979px) {
  /* body */
  .disabled {
    overflow: hidden;
  }
  /* Header */
  .header {
    padding: 0 25px;
  }

  .nav__ul {
    position: fixed;
    top: 80px;
    right: 0;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1000;
    width: 40%;
    min-width: 200px;
    max-width: 350px;
    height: calc(100% - 80px);
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.6s ease-in, top 0.45s ease-in;

    background-color: var(--blanco-opacity);
  }

  .nav__li,
  .nav__link {
    width: 100%;
    justify-content: center;
  }

  .nav__ul--active {
    transform: translateX(0%);
  }

  .header--active .nav__ul {
    top: 70px;

    background-color: var(--blanco);
  }

  /* Main */
  /* .main {
    background-position: center;
  } */

  .main__p {
    max-width: 250px;
  }

  /* About */
  .about {
    flex-direction: column;
  }

  .about__container-text,
  .about__container-img {
    width: 100%;
  }
  .about__container-img {
    height: 350px;
    background-size: cover;
    background-position: left center;
  }
  .about__container-text {
    padding-bottom: 20px;
  }

  /* Servicios */
  .servicios__container {
    height: 750px;
    flex-direction: column;
  }

  .h3 {
    padding: 20px;
    font-size: 16px;
    width: 90%;
    max-width: 390px;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
  }

  .servicios__ul1,
  .servicios__ul2 {
    padding-bottom: 50px;
  }
}

/* Tablet */
/* @media all and (min-width: 768px) and (max-width: 1023px){ … } */

/* Desktop */
@media all and (min-width: 980px) {
  /* Header */
  .header {
    padding: 0 40px;
  }

  .burger {
    display: none;
  }

  /* Main */
  .main__p {
    font-size: calc(2em + 2vw);
    width: 25%;
    min-width: 270px;
    max-width: 380px;
  }

  /* About */
  .about {
    height: 800px;
  }

  /* Servicios */
  .h3 {
    padding: 30px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

  .servicios__p {
    font-size: 14px;
  }

  .servicios {
    height: 100vh;
  }

  .servicios__container {
    height: 100%;
  }

  .servicios__ul1,
  .servicios__ul2 {
    justify-content: start;
    padding-top: 350px;
  }

  .servicios__box1 ul li:hover, .servicios__box2 ul li:hover,.servicios__box1 ul li:hover::before,.servicios__box2 ul li:hover::before{
    background-color: var(--azul-claro);
    color: var(--blanco);
  }
}
