:root{
    --blanco:#fff;
    --blanco-opacity: rgba(255,255,255,0.9);
    --azul-claro:#0077BD;
}
/* Body */
body{
    font-family: 'Raleway', sans-serif;
}

/* Header */

.header{
    background-color: var(--blanco-opacity);
    transition: all.6s;
}

.header--active{
    background-color: var(--blanco);
    transition: all .6s;
}

/* Main */
.main__p{
    color: var(--blanco);
    text-align: center;
}


/* Mobile */
@media screen and (max-width: 979px){
/* Header */
    .nav__ul{
        background-color: var(--blanco-opacity);
    }

    .header--active .nav__ul{
        background-color: var(--blanco);
    }
/* Main */

}

/* Desktop */
@media all and (min-width:980px){

}
